.paginate {
  margin-left: 0;
  padding-left: 0;
}

.ul_container {
  list-style: none;
  margin: 5px 5px 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.li_container {
  text-align: center;
}

.li_container button {
  color: antiquewhite;
  background-color: #282c34;
  font-size: 14px;
  width: 30px;
  padding: 4px 0;
  border-radius: 10%;
  border: 1px solid antiquewhite;
  cursor: pointer;
  transition-duration: 0.6s;
}

.li_container button:hover {
  background-color: rgba(204, 204, 204, 0.34);
  color: white;
  opacity: 0.9;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #15171a;
}
